@model Kid

<h2>Add a kid</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <input type="hidden" asp-for="@Model.ApplicationUserId" />
    </div>
    <button type="submit" class="btn btn-primary"
            asp-controller="Kid"
            asp-action="Create">
        Create
    </button>
</form>