.account-form{
    height: 30rem;
}

#mytoastr{
    position:absolute;
    right: 0;
    top: 0;
}
thead{
    border: 3px solid white;
}
tbody {
    border: 1px solid white;
}

.fas{
    color: white;
}

.jumbotron{
    border: 1px solid white;
}

.btn-light:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
    border: 1px solid #bbe1fa;
}