html, body {
    height: 100%;
}
.account-form {
    height: 30rem;
}
.landingDiv {
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    width: 100%;
}
#mytoastr{
    position:absolute;
    right: 0;
    top: 0;
}
thead{
    border: 3px solid white;
}
tbody {
    border: 1px solid white;
}

.fas{
    color: white;
}

.jumbotron{
    border: 1px solid white;
}

.btn-light:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
    border: 1px solid #bbe1fa;
}
/*Nav bar*/
#mainNav {
    border-bottom: solid 1px black;
    background-color:$background-primary;
    .nav-item {
        a {
            font-size: 20px;
            font-weight:500;
            &:hover {
                color: $theme-purple !important;
            }
        }
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        justify-content: center;

        figure {
            width: 3rem;
            margin: 0;
        }
    }
}

.seperator {
    background-color: $theme-green;
}

.title-text-shadow {
    text-shadow: 3px 5px 2px #474747;
}
.background-color-theme-secondary {
    background-color: $background-secondary;
}

/*Form*/
.form-page-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $theme-green;
    }

    p, label {
        color: white;
    }
}


.form-panel-md {
    padding: 50px;
    width: 90%;
}

/*Button*/
.btn-is-yellow {
    color: $theme-yellow;
    border: 2px solid $theme-yellow;

    &:hover {
        background-color: $theme-yellow;
        transition-duration: 0.4s;
        color: black;
    }
}
.btn-is-green {
    color: $theme-green;
    border: 2px solid $theme-green;

    &:hover {
        background-color: $theme-green;
        transition-duration: 0.4s;
        color: black;
    }
}
.btn-is-orange {
    color: $theme-orange;
    border: 2px solid $theme-orange;

    &:hover {
        background-color: $theme-orange;
        transition-duration: 0.4s;
        color: black;
    }
}
.btn-is-purple {
    color: white;
    border: 2px solid #7510F7;
    border-radius: 290486px;

    &:hover {
        background-color: #7510F7;
        transition-duration: 0.4s;
        color: white;
    }
}

.color-theme-green {
    color: #7510F7;
    &:hover {
        color: $theme-green;
        text-decoration:none;
    }
}

.confirm-form{
    width:90%;
}

.alert-orange{
    background-color: $theme-orange;
    color:black;
}
.color-green{
    color:$theme-green;
}
.color-yellow{
    color:$theme-yellow;
}
.color-orange{
    color:$theme-orange;
}

.bg-theme-secondary {
    background-color: $background-secondary;
}
input.input-validation-error {
    border:3px solid $theme-orange;
}

.vcard__group{
    display:flex;
    flex-direction:column;
}
.vcard {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;

    &__title {
    }

    &__body {
        justify-content: center;
        text-decoration: none;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
}
.section-is-fourthfive {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    flex-basis: 100%;

    &:first-child {
        border-bottom: 1px solid $background-primary;
    }

    &:nth-child(2) {
        border-bottom: 1px solid $background-primary;
    }

    div {
        &:first-child {
            flex-basis: 90%;
        }

        &:nth-child(2) {
            flex-basis: 10%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}

.add-box-shadow {
    -webkit-box-shadow: 1px 3px 14px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 14px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 14px 6px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width:577px) {
    .form-panel-md {
        padding: 50px;
        width: 50%;
    }

    .confirm-form {
        width: 50%;
    }

}

/*Desktop screen*/
@media only screen and (min-width:992px) {
    .vcard__group {
        display: flex;
        flex-direction: row;
    }

    .section-is-fourthfive {
        flex-basis: 33%;
        padding: 5rem 1rem;

        &:first-child {
            border-right: 1px solid $background-primary;
        }

        &:nth-child(2) {
            border-right: 1px solid $background-primary;
        }
    }
    #temptFigure{
        max-height: 400px;
        max-width: 300px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    #mainNav {
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: black;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }

}
