a {
    color: #3282b8;
}

a:hover {
    color: #bbe1fa;
}
body {
    background-color: $background-primary;
    font-family: $roboto-font;
    font-size:16px;
    h1{
        font-weight:900;
    }
    p{
        font-weight: 300;
    }
}

footer {
    padding: 75px 0;

    #footer-buffer {
        padding-top: 50px;
    }

    #social-btn-container {
        .btn {
            &:first-child {
                color: $theme-yellow;
                background-color: transparent;
                border: 1px solid $theme-yellow;

                &:hover {
                    background-color: $theme-yellow;
                    color: black;
                }
            }

            &:nth-child(2) {
                color: $theme-green;
                background-color: transparent;
                border: 1px solid $theme-green;

                &:hover {
                    background-color: $theme-green;
                    color: black;
                }
            }

            &:nth-child(3) {
                color: $theme-orange;
                background-color: transparent;
                border: 1px solid $theme-orange;

                &:hover {
                    background-color: $theme-orange;
                    color: black;
                }
            }
        }
    }
}