@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

$roboto-font: 'Roboto', sans-serif;

$base-font-size: 16px;
$medium-font-size: 20px;
$large-font-size: 26px;

$background-primary: #232323;
$background-secondary: #303030;

$theme-yellow: #ffe400;
$theme-orange:#ff652f;
$theme-green:#14a76c;
$theme-purple: #674AE6;