<div class="form-page-container">
    <div class="background-color-theme-secondary rounded form-panel-sm form-panel-md">
        <h2 class="text-light"> Verification email has been sent, please check your email!</h2>
    </div>
</div>
