@model LoginViewModel

<div class="form-page-container">
    <div class="background-color-theme-secondary rounded form-panel-sm form-panel-md">
            <h1 class="text-center">Login</h1>
            <form method="post" class="d-flex flex-column">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-is-purple">Login</button>
            </form>
            <div class="pt-5">
                <p class="text-center">
                    Do not have an account? Please
                    <a asp-controller="Account" asp-action="Register" class="color-theme-green"><strong>Register</strong></a>
                    to use VTask application
                </p>
            </div>
    </div>
</div>