<div class="form-page-container">
    <div class="background-color-theme-secondary rounded form-panel-sm form-panel-md">
        <h2 class="text-light">Your email has been verified. Please log in to use the app</h2>
        <a class="btn btn-is-purple" asp-controller="Account" asp-action="Login"> Log In</a>
    </div>
</div>

