<!--Landing area / first portion of homepage-->
<div id="landingDiv" class=" container">
    <div id="intro-1" class="introText">
        <h1 class="title-text-shadow">
            Hi, I'm Nam
        </h1>
    </div>
    <div id="intro-2" class="introText">
        <h1 class="title-text-shadow">
            I Design & Build
        </h1>
    </div>
    <div id="intro-3" class="introText">
        <h1 class="title-text-shadow">
            Stunning Websites
        </h1>
    </div>
    <div id="intro-4">
        <i class="fas fa-arrow-circle-down"></i>
    </div>
</div>

<div id="bioDiv">
    <div id="bio-top">
        <h1>
           Nice to meet you!
        </h1>
    </div>
    <div id="bio-bottom" class="container">
        <p>
            Welcome to my humble corner of the internet. I am a web developer.
            I design simple yet engaging UI, together with intuitive features for my websites.
            I love create “things”, and they have to be functionally beautiful.
            Please take a look at my crafts, I think I hit it off pretty well.
            By the way, I am also a wedding videographer.
        </p>
    </div>
</div>

<div class="container" id="overlap-bio">
    <div class="card-group" id="product-card">
        <div class="card m-0">
            <div class="product-icon">
                <i class="fas fa-pencil-ruler"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">Web Design</h4>
                <p class="card-text text-light">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a class="btn m-2" href="video-work-header">Past Victories</a>
            </div>
        </div>
        <div class="card m-0">
            <div class="product-icon ">
                <i class="far fa-file-code"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">VTask Application</h4>
                <p class="card-text text-light">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a class="btn m-2" href="web-scroll-anchor">Try it out!</a>
            </div>
        </div>
        <div class="card m-0">
            <div class="product-icon">
                <i class="fas fa-video"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">Wedding Videography</h4>
                <p class="card-text text-light">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a class="btn m-2" href="video-group">Latest stories</a>
            </div>
        </div>
    </div>
</div>

<div id="web-display">
    <div class="container text-center web-work-header">
        <h1>Websites</h1>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
        <div class="web-container" id="web-scroll-anchor">
            <div class="product-tab">
                <figure id="figure-1">
                    <img src="~/images/nss_logo.png" />
                    <div class="image-overlay">
                        <div class="overlay-top">
                            <h5>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </h5>
                        </div>
                        <div class="overlay-bottom">
                            <a href="https://nssltd.com" target="_blank" class="btn btn-is-purple">Visit Website &#8250;</a>
                        </div>
                    </div>
                </figure>

            </div>
            <div class="product-tab">
                <figure id="figure-2">
                    <img src="~/images/lectricair_logo.png" />
                    <div class="image-overlay">
                        <div class="overlay-top">
                            <h5>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </h5>
                        </div>
                        <div class="overlay-bottom">
                            <a href="https://lectricair.com" target="_blank" class="btn btn-is-purple">Visit Website &#8250;</a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
</div>

<hr class="seperator m-0" />

<div id="video-display">
    <div class="text-center" id="video-work-header">
        <h1>Videos</h1>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div id="video-group">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/e9yifwVuzjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/5d2bNh2Ud9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/bvTiYPhloiY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    </div>
</div>

<div  id="home-footer">
    <div class="card m-0">
        <div class="card-body">
            <h1>Like what you see?</h1>
            <a class="btn btn-is-purple" data-toggle="collapse" href="#collapseAnchor" ariea-expanded="false" aria-controls="collapseAnchor">Let's Talk</a>
            <div class="collapse text-center" id="collapseAnchor">
                <h3>namdocsat@gmail.com</h3>
                <h3> 216-356-2368</h3>
            </div>
        </div>
    </div>
</div>
