<!--Landing area / first portion of homepage-->
<div id="landingDiv" class=" container">
    <div id="intro-1" class="introText">
        <h1 class="title-text-shadow">
            Hi, I'm Nam
        </h1>
    </div>
    <div id="intro-2" class="introText">
        <h1 class="title-text-shadow">
            I Design & Build
        </h1>
    </div>
    <div id="intro-3" class="introText">
        <h1 class="title-text-shadow">
            Stunning Websites
        </h1>
    </div>
    <div id="intro-4">
        <i class="fas fa-arrow-circle-down"></i>
    </div>
</div>

<div id="bioDiv">
    <div id="bio-top">
        <h1>
            Nice to meet you!
        </h1>
    </div>
    <div id="bio-bottom">
        <p>
            Welcome to my humble corner of the internet. I am a web developer.
            I design simple yet engaging user interface, together with intuitive features for my websites.
            I love create “things”, and they have to be functionally beautiful.
            Please take a look at my crafts, I think I hit it off pretty well.
            In addition to coding, I am also a wedding videographer.
        </p>
    </div>
</div>

<div class="container d-flex flex-row justify-content-between" id="overlap-bio">
    <div class="vcard__group bg-theme-secondary text-light text-center rounded add-box-shadow">
        <div class="section-is-fourthfive">
            <div>
                <div class="product-icon">
                    <i class="fas fa-pencil-ruler color-yellow"></i>
                </div>
                <div class="vcard">
                    <div class="vcard__title color-yellow">
                        <h1>Web Design</h1>
                    </div>
                    <div class="vcard__body">
                        <p class="card-text">
                            Dynamic, intuitive, responsive and appealing. These are important words in my guidebook of creating websites.
                            To keep it fresh, I zealously seek out new technologies that improve my workflow.
                        </p>
                    </div>
                </div>
                <div class="vcard">
                    <div class="vcard__title color-yellow">
                        <h3>Favortie tools</h3>
                    </div>
                    <div class="vcard__body">
                        <ul>
                            <li>Asp.net Core</li>
                            <li>Wordpress</li>
                            <li>Angular</li>
                            <li>Git</li>
                        </ul>
                    </div>

                </div>
                <div class="vcard">
                    <div class="vcard__title color-yellow">
                        <h3>I speak</h3>
                    </div>
                    <div class="vcard__body">
                        <ul>
                            <li>C#</li>
                            <li>Javascript</li>
                            <li>PHP</li>
                            <li>CSS</li>
                            <li>Sass</li>
                            <li>Html</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="web-button">
                <a class="btn btn-is-yellow ">Past Victories</a>
            </div>
        </div>

        <div class="section-is-fourthfive">
            <div>
                <div class="product-icon">
                    <i class="far fa-file-code color-green"></i>
                </div>
                <div class="vcard">
                    <div class="vcard__title color-green">
                        <h1>VTask Application</h1>
                    </div>
                    <div class="vcard__body">
                        <p class="card-text">
                            "Success" is what all parents want for their children. But how do kids attain success?
                            This application aims at parents who wish to impose a discipline lifestyle to their kids.
                            Nothing is for granted is the motto of VTask. Appreciation, discipline, pride and
                            survivial knowledge for your kid is the aim of this application.
                        </p>
                    </div>
                </div>

                <div class="vcard text-light">
                    <div class="vcard__title color-green">
                        <h3>How does it work?</h3>
                    </div>
                    <div class="vcard__body">
                        <p class="card-text">
                            After registering for an account. You can create your kids profiles. Add tasks and rewards with points.
                            As your kids accumulate enough point you can redeem the rewards for them.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-is-green" asp-controller="Kid" asp-action="List">Try it out!</a>
            </div>
        </div>
        <div class="section-is-fourthfive">
            <div>
                <div class="product-icon">
                    <i class="fas fa-video color-orange"></i>
                </div>
                <div class="vcard">
                    <div class="vcard__title color-orange">
                        <h1>Wedding Videography</h1>
                    </div>
                    <div class="vcard__body">
                        <p class="card-text">
                            I love challenges, problems solving, and I also love art. Hence, I chose wedding videography
                            as my side kick to  keep a fresh perspective and to meet new wonderful people. I have worked at over 20 weddings and counting.
                        </p>
                    </div>
                </div>
                <div class="vcard text-light">
                    <div class="vcard__title color-orange">
                        <h3>Do I film anything else?</h3>
                    </div>
                    <div class="vcard__body">
                        Yes. I also produce videos promoting company's activities, small local shops, and cooking channel.
                        I always stride to find new ways to impress the viewers with modern equipment,
                        steady video shots, and lots of emotion.
                    </div>
                </div>
            </div>
            <div class="video-button">
                <a class="btn btn-is-orange">Latest stories</a>
            </div>
        </div>
    </div>
</div>
<div></div>

<div id="web-display">
    <div class="container text-center web-work-header">
        <h1>Websites</h1>
    </div>
    <div class="web-container">
        <div class="product-tab">
            <figure id="figure-1">
                <img src="~/images/nss_logo.png" />
                <div class="image-overlay">
                    <div class="overlay-top">
                        <h5>
                            This responsive, intuitive site is used to show case GFCI and ELCI products produced by North Shore Safety ltd.
                        </h5>
                    </div>
                    <div class="overlay-bottom">
                        <a href="https://nssltd.com" target="_blank" class="btn btn-is-purple">Visit Website &#8250;</a>
                    </div>
                </div>
            </figure>

        </div>
        <div class="product-tab">
            <figure id="figure-2">
                <img src="~/images/lectricair_logo.png" />
                <div class="image-overlay">
                    <div class="overlay-top">
                        <h5>
                            Clean and responsive Ecommerce site for selling electrical air switch.
                        </h5>
                    </div>
                    <div class="overlay-bottom">
                        <a href="https://lectricair.com" target="_blank" class="btn btn-is-purple">Visit Website &#8250;</a>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</div>

<hr class="seperator m-0" />

<div id="video-display">
    <div class="text-center video-scroll-anchor" id="video-work-header">
        <h1>Videos</h1>
    </div>
    <div id="video-group">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/e9yifwVuzjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/5d2bNh2Ud9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/bvTiYPhloiY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div id="home-footer">
    <div class="card m-0">
        <div class="card-body">
            <h1>Like what you see?</h1>
            <a class="btn btn-is-purple" data-toggle="collapse" href="#collapseAnchor" ariea-expanded="false" aria-controls="collapseAnchor">Let's Talk</a>
            <div class="collapse text-center" id="collapseAnchor">
                <h3>namdocsat@gmail.com</h3>
                <h3> 216-356-2368</h3>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('div.web-button').click(function () {
                $('html, body').animate({
                    scrollTop: $("#web-display").offset().top
                }, 1000)
            }),
                $('div.video-button').click(function () {
                    $('html, body').animate({
                        scrollTop: $("div.video-scroll-anchor").offset().top
                    }, 1000)
                })
        });
    </script>
}